{% extends "base.html" %}
{% block content %}
{% load material_form %}
    <div class='row'>
        <div class='col-md-4 col-10  mx-auto'>
            <h3 class="form-signin-heading">Change your password</h3>
            <!--
            {% if form.errors %}
                        <div class="alert alert-danger" >
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                        </div>

            {% endif %}

            <form class="form-horizontal" method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                    {% if field.help_text %}
                        <p><i>{{ field.help_text | safe }}</i></p>
                    {% endif %}
                    {{ field.label_tag }}
                    <div class="col-xs-12">
                        {{ field }}
                    </div>
                </div>
              {% endfor %}
                <button type="submit" class="btn btn-lg center-block" style="with:100%; text-align:center; margin:0 auto;">Submit</button>
            </form>
            -->
            <form method='post' action=''>{% csrf_token %}
                {% form form=form %}{% endform %}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='btn btn-block btn-info'>Submit</button>
            </form>
        </div>
    </div>
{% endblock %}