boto==2.49.0
Django==2.0.7
django-admin-honeypot==1.1.0
django-bootstrap4==0.0.6
django-extras==0.3
django-material==1.2.5
django-ses==0.8.6
djangorestframework==3.8.2
html5lib==1.0.1
httplib2==0.11.3
Pillow==5.2.0
PyPDF2==1.26.0
pytz==2018.5
reportlab==3.5.5
six==1.11.0
webencodings==0.5.1
xhtml2pdf==0.2.2
XlsxWriter==1.0.5
psycopg2==2.7.2