{% extends "base.html" %}
{% block head_title %} Manager {{ block.super }} {% endblock head_title %}
{% block content %}
<div class="row" style="margin-top:60px;">
        <div class='col-md-12 col-12 text-center' >
          <h3 class="margin">PIA TOOLKIT</h3>
          <img src="" style="display:inline" alt="EIPD" >
            <p></p>
                <h4>PIA Managment Tool</h4>
        </div>
</div>
<div class="row" style="margin-top:80px;">
    <h2>{{ profile }}</h2>
    <a href="{% url 'newPIA' %}" style="color:white;">New PIA</a>
</div>
        <div class="row" style="margin-top:80px;">
    <a href="{% url 'projects' %}" style="color:white;">Projects</a>
</div>
{% endblock content %}