{% extends "base.html" %}
{% block head_title %} New Project {{ block.super }} {% endblock head_title %}
{% block content %}
{% load material_form %}
 <div class='row'>
    <div class='col-md-4 col-6 mx-auto'>
        <h3 class="form-signin-heading">Add Project</h3>
        <p></p>
    <form method="post" class="viewform bg-1">{% csrf_token %}
        {{ form.as_p }}
        <div class='col-md-10 col-6 mx-auto'>
        <input type="submit" class="btn btn-block btn-info" value="Save">
        </div>
    </form>
    </div>
 </div>
{% endblock %}