<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
     <style>
     /* CONTACT FORM FIELDS */
    #id_contact_name, #id_email, #id_subject, #id_message, #id_username, #id_contact_email, #id_content
    {
     color: #CF6766;
    }

    #id_alias, #id_password, #id_old_password, #id_new_password1, #id_new_password2, #id_password2, #help-block
    {
     color: #CF6766;
    }

    #id_risk, #id_probability, #id_title, #id_confModImpact, #id_integModImpact, #id_disModImpact, #id_noRepInhRisk, #id_name
    {
     color: #fff;
    }
    .select-dropdown {
        background-color: #031424;
       color: #ffffff;
    }
    .dropdown-trigger{
        background-color: #031424;
       color: #ffffff;
    }

  .bg-1 {
       background-color: #031424;
       color: #ffffff;
    }
    .container-fluido {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;

    }

    .container-fluid

    .navbar {
         background-color: #30415D;
         }
    .navbar a {
         color: #fff !important;
         background-color: #30415D !important;
         }

    .bg-indigo {
    background-color: #30415D;
            }
    .navbar-brand {
     padding: 0px;
    }
    .help-block{
        color: rgba(167, 167, 167, 0.6) !important;
    }
    .btn-primary {
        color: #fff;
        background-color: #30415d;
        border-color: #fff;
    }
    .btn-primary:hover {
        color: #fff;
        background-color: #CF6766;
        border-color: #fff;
    }

    .btn-info {
    color: #fff;
    background-color: #30415d;
    border-color: #fff;
    }
    .btn-info:hover {
    color: #CF6766;
    background-color: #CF6766;
    border-color:  #30415d;
    }
    .btn {
    color: #fff !important;
    background-color: #30415d!important;
    border-color: #fff !important;
    }
    .btn:hover {
    color: #30415d !important;
    background-color: #CF6766 !important;
    border-color:  #30415d !important;
    }
    .btn-block {
    color: #fff;
    background-color: #30415d;
    border-color: #fff;
    }
    .btn-block:hover {
    color: #CF6766;
    background-color: #CF6766;
    border-color:  #30415d;
    }

    a {
    color: #8eaebd !important;
    }

    a:hover {
    color: #CF6766 !important;
}

    .navbar-brand>img {
      height: 70px;
      padding: 15px;
      width: auto;
    }

    .dropdown-menu {

        background-color: #30415D;
    }
    .dropdown-menu a:hover {
        color: #30415d !important;
        background-color: #CF6766 !important;
        }

    .form {
        margin: auto;
        width:100%;
        box-sizing: border-box;
        }
    .row {
        margin: auto;
        }
    .errorlist {
        color: #CF6766;
        }

    .footer {
       position: absolute;
       left: 0;
       bottom: 100;
       width: 100%;

       background-color: #8EAEBD;
       color: Black;
       text-align: center;
       vertical-align: top;


    }

    .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

    .text-muted {
        color: #30415d !important;
    }

  </style>