{% extends 'base.html' %}
{% block head_title %} New User {{ block.super }} {% endblock head_title %}

{% block content %}
{% load material_form %}
<div class='row'>
    <div class='col-md-4 col-10 mx-auto'>
        <h3 class="form-signin-heading">New User</h3>
        <!--
        {% if form.errors %}
            <div class="row centered">
                    <div class="alert alert-danger" >
                        {% for field in form %}
                            {{ field.errors }}
                        {% endfor %}
                    </div>
            </div>
        {% endif %}
        -->
        <form method='post' action=''>{% csrf_token %}
                {% form form=form %}{% endform %}
            <span style='margin-bottom: 12px;'></span>
            <button type="submit" class='btn btn-block btn-info'" style="with:100%; text-align:center; margin:0 auto;">Submit</button>
        </form>
    </div>
</div>

{% endblock %}